# Binaries
**/bin/
bin-int/
**/intermediates/
# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories

Hazelnut/assets/cache
scripts/__pycache__